body {
    margin: 200px 0 0 !important;
}
.nopadding {
    padding: 0;
    margin: 0;
}

.coaching-list {
    display: inline-block;
    text-align: left;
    list-style: none;
    list-style-type: none;
}
.nav-link{
    color: #000000;
}

a {
    text-decoration: none ;
    color: white;
}
a:hover
{
    color: orange;
    text-decoration:none;
    cursor:pointer;
}