.line-separator {
    margin: 40px auto 0 auto;
    height: 1px;
    max-width: 500px;
    border-bottom: 2px solid #ff9408;
}

a {
    text-decoration: none ;
    color: white;
}
a:hover
{
    color: orange;
    text-decoration:none;
    cursor:pointer;
}

[class*="col-"] {
}

.white {
    background-color: white;
}

.img-main {
    vertical-align: center;
}

/* Parallax */
html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;

}

.parallax-bio, .parallax1, .parallax2, .parallax3, .parallax4 {
    position: relative !important;

    background-attachment: fixed;
    background-position: 50% 10%;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax1 {
    margin-top: 73px;
    background-image: url("../images/IronmanBoulder.jpg");
    height: 900px;
}

.parallax2 {
    background-position: 20% !important;
    background-image: url("../images/hawaii.jpg");
    height: 800px;
}

.parallax3 {
    background-color: #000000;
    min-height: 300px;
}

.parallax4 {
    background-image: url("../images/VirginieBarbe3.jpg");
    background-size: 100%;
    height: 800px;
}

.parallax-bio {
    background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url("../images/parralax-bio.jpg");
    background-size: 100%;
    height: 700px;
}

/* Images Overlay */

.card-img-overlay {
    padding: 8%;
}


/* Partner Container */

.partner-container {
    margin: 20px 0;
    padding: 20px 0;
}

.partner-h {
    text-align: center;
    margin-bottom: 30px;
}

.partner {
    width: 100%;
}

.partner-container div {
    margin: 0 auto;
    display: inline-block;
}

.partner-container div div {
    padding: 20px;
}

.brand {
    max-height: 80px;
}
/* Bio */
.bio h2 {
    text-align: center;
}

.bio {
    font-style: italic;
    margin-top: 100px;
    text-align: left;
    vertical-align: center;
    text-decoration: none;
}

.bio li {
    padding: 10px 0;
    font-size: 20px;
}

.bio .bio-list {
    list-style: none;
    list-style-type: none;
    margin-top: 30px;
}

/* Performances */

#results {
    text-align: center;
    color: #f9f9f9;
}

#results .row {
    text-align: center;
}

#results .results-stats {
    margin-top: 25px;
}

#results h2 {
    margin: 20px;
}

#results .results-stats div div {
    text-transform: uppercase;
    font-size: 40px;
}

#results .results-stats p {
    text-transform: uppercase;
    font-size: 15px;
}
.palmares {
    padding-top: 20px;
}

.palmares-text {
    color: #2b2b2c;
    font-size: 24px;
}
/*
#results {
    margin: 70px 0;
}

.chart-container div{
    overflow: hidden;

    width: 400px;
    height: 600px;
}

#img-results {
    margin:0px 0 0 10%;
}
*/

/* Coaching Card*/

#coaching-container {
    padding: 70px 0 250px 0;
}

.nav-link{
    color: #000000;
}

#coaching-container div h2 {
    padding-bottom: 40px;
}

#coaching-container .row {
    padding: 50px;
}

#coaching-div {
    margin: 50px 50px;
}

.coaching-elt {
    padding: 0 !important;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 20%;
}

.coaching-elt-img-1 {
    background-image: url("../images/Crédit Photo Jean-François Brossier_86.jpg");

}
.coaching-elt-img-2 {
    background-image: url("../images/coaching-img.jpg");
}

.coaching-elt li ul {
    padding: 0px;
    padding-inline-start: 0px;
}

.card-title  {
    padding-top: 20px;
}

.card-img-top {
    max-height: 500px;
}

.coaching-info {
    color: #303030;
}
/* Bio Athlete*/

.bg-diagonale {
    background: linear-gradient(45deg, #222 50%, orange 50%);
    min-height: 5vh;
}

/* Map */

.map-container {
    margin: 80px 0 50px 0;
}

.map-container .justify-content-center {
    margin-bottom: 50px;
}

.map-container div h2 {
    padding: 20px;
}

#image-map-pro-container {
    padding: 20px;
}

/* Footer */

.footer-info {
    min-height: 130px;
}

#footer-mentions {
    text-align: center;
    min-height: 20px;
    background-color: #3a3a3a;
}