/* NAVBAR */

.navbar {
    min-height: 60px;
    padding: 0 16px 0 0;
    padding: 0;
}
.navbar .coaching-nav {
    font-size: 20px;
}

.navbar-center {
    position: absolute;
    left: 50%;
    top: 15px;
    transform: translatex(-50%);
}

.nav-link{
    text-align: center;
    vertical-align: center;
}

.navbar ul {
    margin-top: 20px;
}

.navbar ul li{
    margin: 0 10px;
}

.coaching-nav {
    margin: 0;
    padding: 0;
    min-height: 60px;
    min-width: 230px;
}

.coaching-nav, .coaching-nav p {
    background-color: rgb(49, 213, 166);
    color: #ffffff;
}

.coaching-nav:hover, .coaching-nav:hover p {
    background-color: rgb(49, 213, 166);
    color: #ffffff;
}

.coaching-nav p {
    font-size: 20px;
    margin: 10px;
    padding: 5px 20px;
}