body {
    margin: 73px 0 0 !important;
}

.nopadding {
    padding: 0;
    margin: 0;
}
.palmares-container {
    width: 100%;
    text-align: center;
}
.palmares-list {
    display: inline-block;
    text-align: left;
    list-style: none;
    list-style-type: none;
}

.palmares-list li {
    margin-left: 30px;
}
